body {
    float: left;
    margin: 0px;
    background: linear-gradient( 0deg, rgb( 255, 152, 129) 0%, rgb( 131, 164, 255) 100% );
    overflow:hidden;
}

#pause-menu {
    display: none;
    position: absolute;
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    background: white;
}

#pause-button {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 2.5vw;
    height: 2.5vw;
    opacity: 0.5;
}

#menu-text {
    top: 5px;
    text-align: center;
}

#mute-image, #audioOn-image {
    right: 10px;
    top: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
}

#volume-bar {
    position: absolute;
    right: 10px;
}

#audio-text {
    display: inline-block;
    position: absolute;
    right: 80px;
    top: 10px;
}

#item-canvas {
    z-index: -3;
    position: absolute;
}

#canvas1 {
    z-index: -2;
    position: absolute;
}

#levelCounter {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 12px;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Games', sans-serif;
}

.inline-block {
    display: inline-block;
}

#play-again-button, #doom-button {
    display: block;
    margin: 10px;
}

.experience-container {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.experience-bar {
    width: 0%;
    height: 100%;
    background-color: #2eb82e;
    transition: width 0.3s ease-out;
}

.experience-number {
    color: #333;
    font-size: 9px;
    position: absolute;
    left: 50px;
    bottom: 0px;
}

.character-experience-container, .hpbar-container, .experience-container, .armorbar-container {
    height: 15px;
}

.character-experience-container {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    bottom: 25px;
    left: 5px;
}

.character-experience-bar {
    width: 0%;
    height: 100%;
    background-color: white;
    transition: width 0.5s ease-out;
}

.character-experience-text {
    text-align: center;
    line-height: 30px;
    color: #333;
}

.hpbar-container {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    bottom: 45px;
    left: 5px;
}

.hp-bar {
    width: 0%;
    height: 100%;
    background-color: #e60000;
    transition: width 0.2s ease-out;
}

.hp-text {
    text-align: center;
    line-height: 30px;
    color: #333;
}

.armorbar-container {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    bottom: 65px;
    left: 5px;
}

.armor-bar {
    width: 0%;
    height: 100%;
    background-color: dodgerblue;
    transition: width 0.2s ease-out;
    bottom: 65px;
}

.armor-text {
    text-align: center;
    line-height: 30px;
    color: #333;
    bottom: 65px;
}
