#shop-menu {
    position: absolute;
    width: 70vw;
    height: 60vh;
    left: 15vw;
    right: 15vw;
    z-index: 20;
    background: orange;
    opacity: .4;
    top: 20vh;
    display: none;
}

#shop-title {
    font-size: 2rem;
    text-align: center;
    border-bottom: solid 3px black;
}

#title-text {
    margin: 10px;
    font-size: 2rem;
    text-align: center;
}

#currentGun {
    padding-left: 10px;
    padding-top: 5px;
    font-family: Cambria;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px !important;
}

#text-container {
    text-align: center;
    display: flex;
}

#text {
    font-size: 20px;
    margin-bottom: 10px;
}

#arrows {
    display: inline-grid;

}

#up-arrow, #down-arrow {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #ddd;
    font-size: 20px;
    cursor: pointer;
}

#up-arrow:active, #down-arrow:active {
        background-color: #ccc;
}

#shop-button-container {

}
.button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 4px;
    line-height: inherit;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    overflow-y: clip;
    margin: 10px;
}

.button-74:hover {
    background-color: #fff;
}

.button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (max-width: 767px) {
    .button-74 {
        font-size: 14px;
        line-height: 40px;
        padding: 0 15px;
    }
}

.container {

}